

/* agnlwig063wog6rfequeqcl0d */

.progress-meter,.progress-meter .has-progress,.progress-meter .no-progress{height:12px;display:block}.progress-meter{border:1px solid #666;overflow:hidden;background:transparent url('/scds/common/u/img/sprite/sprite_progress_meter_v1.png') repeat-x 0 0;width:100px}.progress-meter .has-progress{border-right:1px solid #666;background:transparent url('/scds/common/u/img/sprite/sprite_progress_meter_v1.png') repeat-x 0 -50px}


