.search_topnav
{
	position: fixed;
	width: 100%;
	z-index: 30;
	

	
}
.search_navtop
{
background-image:url("s1.png");	
height: 40px;
}
.search_navbottom
{
height: 35px;
background-color: black;
margin-top: -21px;
}
.search_link_color
{
	color: white;
	font-size: 12px;


}
.search_link_color2
{
	
	font-size: 16px;
	background-color: black;
	color: white;
	font: bolder;
	
}
.search_wrapper
{
	width: 75%;
	margin: auto;
	height: 37px;
}
.search_image_nav
{
	background-image:url("30.png");
}
.search_image_1
{
	margin-left: 200px;
	background-image:url("31.png"); 
	width: 42px;
	height: 27px; 
	margin-top: -30px;

	
}
.search_image_2
{
	margin-left: 830px;
	background-image:url("34.png"); 
	width: 25px;
	height: 27px; 
	margin-top: -30px;

	
}
.search_image_3
{
	margin-left: 880px;
	background-image:url("35.png"); 
	width: 23px;
	height: 27px; 
	margin-top: -25px;

	
}
.search_image_4
{
	margin-left: 918px;
	background-image:url("36.png"); 
	width: 27px;
	height: 27px; 
	margin-top: -25px;

	
}
.search_image_5
{
	margin-left: 955px;
	background-image:url("37.png"); 
	width: 27px;
	height: 27px; 
	margin-top: -27px;

	
}


.search_o
{
	color: gray;
	text-decoration: none;

}
.search_form
{
	margin-top: -27px;
	margin-left: 250px;
}
.search_txtbox
{
	width: 350px;
	height: 27px;
}
.search_button_nav
{
	background-image:url("33.png");	
	width: 37px;
	height: 27px; 
	margin-left: 620px;
	margin-top: -112px;
}
.search_link_class_div
{
	font-size: 11px;
	margin-top: -75px;
	margin-left: 667px;
	
}
.search_link_class
{
	color: white;	
}
.search_my_dropdown
{
	margin-left: 755px;
	margin-top: 10px;
}

.search_page_body
{

background-image:url("39.png");	

}
.search_main_body
{
	margin-left: auto;
	margin-right: auto;
	width:974px;
	position: relative;
	
	height: 1315px;
	overflow: auto;
	background-color: #e6e6e6;
	
}
.search_text_box_div
{
	margin-left: 0px;
	height: 900px;
	width: 260px;
	background-color: #e6e6e6;
	overflow: auto;
	margin-top: 100px;
	margin-left: 10px;
	

}
.search_ppl_div
{
	margin-top: 40px;
	margin-left: 20px;
	font: bolder;
	
	}
.search_label
{
	margin-left: 5px;
	font: bolder;

}
.search_page_button
{
	margin-left: 5px;
}	